
.bar {
    fill: #562339;
    stroke-width: 0;
}



/*d3fc*/
.chart-label {
    font-size: 1.5em;
    line-height: normal;
    color: #222;
}

.chart {
    margin: 10px 0;
    width: 100%;
    height: 100%;
    padding: 0;
    position: relative;
}

.chart svg {
    overflow: visible !important;
    display: block;
}

.chart.large {
    height: 400px;
}

.plot-area {
    background-color: white;
}

.y-axis-label {
    white-space: nowrap;
}

.d3fc-svg svg {
    overflow: visible !important;
}

.annotation-line > line {
    fill-opacity: 0;
    stroke: #999;
    stroke-width: 1;
    stroke-dasharray: 3, 3;
}

.chart210 {
    height: 210px;
}

.chart220 {
    height: 220px;
}

.chart240 {
    height: 240px;
}

.chart300 {
    height: 300px;
}

.chart320 {
    height: 320px;
}

.chart400 {
    height: 400px;
}

.bar-label {
    text-anchor: middle;
    font-size: 0.8em;
    fill: black;
    font-weight: 600;
}

/* move to chart styles */
.polygon {
    vector-effect: non-scaling-stroke;
    /*fill: #c8ffed;*/
    stroke: #2c3569;
    fill-opacity: 0.9;
}

.polygon:hover {
    fill-opacity: 1.0;
    stroke-width: 2;
}


.legendQuant .label {
    font-size: 0.85em;
    font-weight: normal;
}

.mapContainer {
    position: relative;
}

.dimple-marker {
    /*opacity: 1.0 !important;*/
}

.dimple-bar {
    /*transform-origin: 0px center 0px;*/
}
