$heights: 210 220 240 300 320 400;

$darkborder: #2c3569;

@mixin chartheight($height) {
    height: #{$height}px;
}

@each $ht in $heights {
    .chart#{$ht} {
        @include chartheight(#{$ht});
    }
}


/* map styling */
.polygon {
    stroke: $darkborder;
    fill-opacity: 0.9;

    &:hover {
        fill-opacity: 1.0;
        stroke-width: 2;
    }
}

.legendQuant .label {
    font-size: 0.85em;
    font-weight: normal;
}

.mapContainer {
    position: relative;
}
