/*isotope*/
.grid {
  /*border: 1px solid #999;*/
  max-width: 1200px;
  margin: 12px;
  /*padding: 2px;*/
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer, .grid-item {
    /*width: 25%;*/
    width: 280px;
}

.grid-item {
  position: relative;
  float: left;
  /*width: 25%;*/
/*   height: 200px; */
  min-height: 240px;
  padding: 10px 14px 10px 14px;
  border: 5px solid #fff;
  background: #888;
/*   color: #E8E5ED; */
  color: #333;
  border-radius: 8px;
}

.grid-item > * {
  margin: 0;
  padding: 0;
}

.grid-item .name {
  font-size: 1.1em;
  font-weight: 700;
  padding: 0;
}

.grid-item .current-val {
  font-size: 2.8em;
  font-weight: 600;
  color: #f5f5f5;
/*   vertical-align: baseline; */
  margin-top: 2px;
  /*-webkit-transition: font-size 400ms;
  -moz-transition: font-size 400ms;
  -o-transition: font-size 400ms;
  transition: font-size 400ms;*/
}

.grid-item .current-year {
/*   font-size: 1.5em; */
  font-size: 0.5em;
  color: #444;
}

.grid-item .prev-val {
  font-size: 2.2em;
  font-weight: 600;
  color: #dfdfdf;
  margin: 2px;
  /*-webkit-transition: font-size 400ms;
  -moz-transition: font-size 400ms;
  -o-transition: font-size 400ms;
  transition: font-size 400ms;*/
}

.grid-item .prev-year {
  font-size: 0.6em;
  color: #444;
}

.grid-item .descript {
  position: absolute;
  bottom: 30px;
  font-size: 1.25em;
  width: 90%;
  color: #333;
}

.grid-item .area {
  position: absolute;
  color: #eee;
  bottom: 10px;
}

.grid-item .trend {
    color: #eee;
    font-size: 2.8em;
    padding: 0;
}

.row-no-gutter {
    margin-right: 0;
    margin-left: 0;
}

.row-no-gutter [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.workforce {
  background-color: #ce6193;
}

.workforce .name {
  border-bottom: 2px solid #b13c71;
}

.workforce .descript {
  border-bottom: 1px solid #b13c71;
}

.childhood {
  background-color: #f58573;
}

.childhood .name {
  border-bottom: 2px solid #d35a47;
}

.childhood .descript {
  border-bottom: 1px solid #d35a47;
}

.housing {
  background-color: #55b572;
}

.housing .name {
    border-bottom: 2px solid #349c54;
}

.housing .descript {
    border-bottom: 1px solid #349c54;
}

.health {
  background-color: #9bc55f;
}

.health .name {
    border-bottom: 2px solid #71a623;
}

.health .descript {
    border-bottom: 1px solid #71a623;
}

.big {
    /*width: 50%;*/
    width: 560px;
    height: 300px;
}

.big .current-val, .big .trend {
    font-size: 5em;
    -webkit-transition: font-size 400ms;
    -moz-transition: font-size 400ms;
    -o-transition: font-size 400ms;
    transition: font-size 400ms;
}

.big .prev-val {
    font-size: 3em;
    -webkit-transition: font-size 400ms;
    -moz-transition: font-size 400ms;
    -o-transition: font-size 400ms;
    transition: font-size 400ms;
}

p.descript-text {
    visibility: hidden;
}

.big p.descript-text {
    visibility: visible;
}

.positive {
    color: #23B65E;
}

.negative {
    color: #B62323;
}

.neutral {
    color: #C4C827;
}
