.row-no-gutter {
  margin-left: 0;
  margin-right: 0; }
  .row-no-gutter [class*='col-'] {
    padding-left: 0;
    padding-right: 0; }

body {
  font-family: sans-serif;
  font-size: 9pt; }
  body .application {
    max-width: 1200px;
    margin: auto;
    padding-bottom: 80px; }

.navbar-inverse {
  background-color: #4c516d;
  color: #ececec;
  border-bottom: 4px solid #222; }
  .navbar-inverse .navbar-brand {
    font-size: 1.1em; }
  .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #ececec; }
  @media (min-width: 992px) {
    .navbar-inverse {
      font-size: 1.2em; } }

.chart-wrapper {
  border-color: #cecfdd; }
  .chart-wrapper .chart-title {
    border-bottom: 1px solid #b6b7cc; }

.filter-btns .btn {
  margin: 0 1px; }

.goal {
  padding: 16px;
  background-color: #dddee7;
  border: 1px solid #cecfdd;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px; }

.definition {
  padding: 16px;
  font-size: 1.2em;
  font-weight: 300;
  background-color: #f1efd5;
  border: 1px solid #e2dea7;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  color: #444;
  margin-bottom: 16px; }
  .definition strong {
    font-weight: 600; }
  .definition h4 {
    font-size: 1.1em; }
  .definition dl {
    margin-bottom: 10px; }

.chart-wrapper .dark-title {
  background-color: #4c516d;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 2px solid #444; }
  .chart-wrapper .dark-title h4 {
    color: #ececec; }
  .chart-wrapper .dark-title .panel-heading {
    background-color: #edeef2;
    border-color: #d5d8e1; }

.plank {
  padding: 16px;
  margin-bottom: 2px;
  color: #333;
  max-width: 768px; }
  .plank p.goal {
    font-size: 1.1em; }
    @media (min-width: 768px) {
      .plank p.goal {
        font-size: 1.4em; } }
  .plank p.explanation {
    font-size: small; }
  .plank h2 {
    font-size: 1.9em; }
    @media (min-width: 768px) {
      .plank h2 {
        font-size: 2.2em; } }
  .plank h2, .plank h4 {
    color: #bb105f; }

.bg-danger {
  background-color: #ecd0d3; }

.filter-btns .btn {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

.positive {
  color: #1a9850; }

.negative {
  color: #a50026; }

.neutral {
  color: #fee08b; }

.grid {
  margin: 12px auto; }
  .grid:after {
    content: '';
    display: block;
    clear: both; }

.grid-item {
  float: left;
  min-height: 240px;
  padding: 10px 14px;
  border: 5px solid white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  background: #888;
  color: #333;
  cursor: pointer; }
  .grid-item:hover {
    border-color: #f3f382; }
  .grid-item > * {
    margin: 0;
    padding: 0; }
  .grid-item .name {
    font-size: 1.1em;
    font-weight: 700;
    padding: 0; }
  .grid-item .expand-grid {
    color: #efefef;
    font-weight: 900; }
  .grid-item .current-val {
    font-size: 2.8em;
    font-weight: 600;
    color: #fff;
    margin-top: 2px; }
  .grid-item .current-year {
    font-size: 50%;
    color: #444; }
  .grid-item .prev-val {
    font-size: 2.2em;
    font-weight: 600;
    color: #eaeaea;
    margin: 2px; }
  .grid-item .prev-year {
    font-size: 60%;
    color: #444; }
  .grid-item .descript {
    position: absolute;
    bottom: 30px;
    font-size: 1.25em;
    width: 90%;
    color: #333; }
  .grid-item .area {
    position: absolute;
    color: #eee;
    bottom: 10px; }
  .grid-item .trend {
    font-size: 3em;
    padding: 0;
    margin: 10px auto; }
  .grid-item p.descript-text {
    visibility: hidden; }
  .grid-item .icon {
    fill: currentColor;
    width: 1em;
    height: 1em;
    overflow: hidden; }

.big {
  height: 320px;
  -webkit-transition: font-size 400ms;
  -moz-transition: font-size 400ms;
  -ms-transition: font-size 400ms;
  transition: font-size 400ms; }
  .big p.descript-text {
    visibility: visible; }
  @media (max-width: 768px) {
    .big .current-val {
      font-size: 3.5em; }
    .big .prev-val {
      font-size: 2.6em; }
    .big .trend {
      font-size: 5em; } }
  @media (min-width: 768px) {
    .big .current-val {
      font-size: 5em; }
    .big .prev-val {
      font-size: 3em; }
    .big .trend {
      font-size: 9em; } }
  @media (min-width: 992px) {
    .big {
      width: 66.67%; } }
  @media (min-width: 1200px) {
    .big {
      width: 50%; } }

.workforce {
  background: #d58ab0; }
  .workforce .name {
    border-bottom: 2px solid #ce5b96; }
  .workforce .descript {
    border-bottom: 1px solid #ce5b96; }

.childhood {
  background: #ca9ecd; }
  .childhood .name {
    border-bottom: 2px solid #b87ebb; }
  .childhood .descript {
    border-bottom: 1px solid #b87ebb; }

.health {
  background: #9dc59a; }
  .health .name {
    border-bottom: 2px solid #78b673; }
  .health .descript {
    border-bottom: 1px solid #78b673; }

.housing {
  background: #9494dc; }
  .housing .name {
    border-bottom: 2px solid #7575cc; }
  .housing .descript {
    border-bottom: 1px solid #7575cc; }

.cross {
  background: #b3b3b3; }
  .cross .name {
    border-bottom: 2px solid #999999; }
  .cross .descript {
    border-bottom: 1px solid #999999; }

.chart210 {
  height: 210px; }

.chart220 {
  height: 220px; }

.chart240 {
  height: 240px; }

.chart300 {
  height: 300px; }

.chart320 {
  height: 320px; }

.chart350 {
  height: 350px; }

.chart400 {
  height: 400px; }

.chart600 {
  height: 600px; }

/* map styling */
.polygon {
  stroke: #2c3569;
  fill-opacity: 0.9; }
  .polygon:hover {
    fill-opacity: 1.0;
    stroke-width: 2; }

.legendQuant .label {
  font-size: 0.85em;
  font-weight: normal; }

.mapContainer {
  position: relative;
  height: 100%; }

.goal-charts, .other-charts {
  padding: 12px;
  border: 1px solid;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  margin: 8px; }

.goal-charts {
  background-color: #e0e2ec;
  border-color: #d3d6e4; }

.other-charts {
  background-color: #dbdbdb;
  border-color: #d1d1d1; }

.jump-link {
  color: #a80e55;
  font-weight: 600; }

.blankchart {
  opacity: 0; }

.d3-tip {
  line-height: 1;
  font-weight: 400;
  padding: 8px;
  background: rgba(38, 41, 55, 0.9);
  color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  pointer-events: none;
  font-size: 0.75em;
  margin: -4px 0 0 0; }

/*# sourceMappingURL=main-styles.css.map */
