/*
dark purpleish blue: #433F52
dark blue: #4C516D
light yellow: #F1EFD5
magenta: #bb105f
dark burgundy: #562339
very light gray: #E8E5ED
black: #222
light black: #3a3a3a
very light blue: #CECFDD
white: #dfdfdf
*/

@media screen and (max-width: 768px) {
    .navbar-inverse .navbar-brand {
        font-size: 1.1em;
    }
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: small;
}

body.application {
    max-width: 1200px;
    margin: auto;
    padding-bottom: 80px;
}

.chart-wrapper {
    border-color: #cecfdd;
}

.chart-wrapper .chart-title {
    border-bottom: 1px solid #d6d8e2;
}

.navbar-inverse {
    background-color: #4c516d;
    color: #dfdfdf;
    border-bottom: 4px solid #222;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
    color: #dfdfdf;
}

.navbar-inverse .navbar-nav>li>a {
    /*color: #dfdfdf;*/
}

.navbar-inverse .navbar-nav {
    /*color: #dfdfdf;*/
}

/*
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #373b4f;
    color: #dfdfdf;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #dfdfdf;
}

.navbar-nav>li>.dropdown-menu {
    background-color: #4c515d;
}*/

#filters .btn {
    margin: 0 1px;
}

.goal {
    padding: 16px;
    font-size: x-large;
    background-color: #dddee7;
    border-radius: 8px;
    /*color: #3a3a3a;*/
    border: 1px solid #cecfdd;
}

.definition {
    padding: 16px;
    font-size: 1.2em;
    font-weight: 300;
    background-color: #F1EFD5;
    border-radius: 8px;
    color: #4f4f4f;
    border: 1px solid #e2dea9;
}

.definition strong {
    font-weight: 600;
}

#accordion-title {
    background-color: #4c516d;
    color: #eee;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 2px solid #444;
}

#accordion .panel-heading {
    background-color: #edeef2;
    border-color: #d6d8e2;
}

.plank {
  padding: 16px;
  margin-bottom: 2px;
}

.plank p.goal {
  font-size: 1.2em;
  color: #333;
}
.plank p.explanation {
  color: #333;
  size: small;
}

@media (min-width: 768px) {
  .plank p.goal {
    font-size: 1.4em;
  }
}
.plank h2 {
  font-size: 2em;
}
@media (min-width: 768px) {
  .plank h2 {
    font-size: 2.2em;
  }
}
.plank h2, .plank h4 {
  color: #bb105f;
}

#intro {
    margin-bottom: 0;
}

.row-no-gutter{
    margin-right: 0;
    margin-left: 0;

    [class*='col-'] {
        padding-right: 0;
        padding-left: 0;
    }
}

.row-max {
    max-width: 1200px;
}

.bg-danger {
    background: #ecd0de;
}
