// $heights: 210 220 240 300 320 400;
//
// $darkborder: #2c3569;
// $goal: #ecb2cd;
// $other: #b2cdec;
//
// @mixin chartheight($height) {
//     height: #{$height}px;
// }
//
@each $ht in $heights {
    .chart#{$ht} {
        @include chartheight(#{$ht});
    }
}


/* map styling */
.polygon {
    stroke: $darkborder;
    fill-opacity: 0.9;

    &:hover {
        fill-opacity: 1.0;
        stroke-width: 2;
    }
}

.legendQuant .label {
    font-size: 0.85em;
    font-weight: normal;
}

.mapContainer {
    position: relative;
    height: 100%;
}

%chart-holder {
    padding: 2rem 3rem;
    border: 1px solid;
    @include border-radius(2px);
    margin: 8px;
}

.goal-charts {
    background-color: $goal;
    border-color: darken($goal, 4);
    @extend %chart-holder;
    margin: 0 0 3rem 0;
    @include breakpoint($laptop) {
        margin: 0 0 3rem 2rem;
    }
    h5 {
        font-size: 2.5rem;
        margin: 1rem 0 2rem 0;
    }
}

.other-charts {
    background-color: $other;
    border-color: darken($other, 4);
    @extend %chart-holder;
    margin: 0 0 3rem 0;
    @include breakpoint($laptop) {
        margin: 1rem 0 3rem 2rem;
    }
    h5 {
        font-size: 2.5rem;
        margin: 1rem 0 2rem 0;
    }
}

.jump-links {
    text-align: right;
    font-size: 1.5rem;
    margin-bottom: 1rem;   
    a {
        padding-left: 5px;
    }
}


.blankchart {
    opacity: 0;
}
