// $darkheader: #4c516d;
// $darkblack: #222;
// $medblack: #333;
// $lightblack: #444;
// $bright: #bb105f;
// $softcallout: #dddee7;
// $softhilite: #f1efd5;
// $whitetxt: #ececec;
// $graytxt: #666;
// $grayborder: #cecfdd;
// $graybkgnd: #edeef2;
// $danger: #ecd0d3;
// $widepad: 16px;
//
// $phone: max-width 768px;
// $tablet: 768px;
// $laptop: 992px;
// $lg-laptop: 1200px;
//
// @mixin border-radius($rad) {
//     -webkit-border-radius: $rad;
//     -moz-border-radius: $rad;
//     -ms-border-radius: $rad;
//     border-radius: $rad;
// }

.row-no-gutter {
    margin-left: 0;
    margin-right: 0;

    [class*='col-'] {
        padding-left: 0;
        padding-right: 0;
    }
}

body {
    font-family: sans-serif;
    font-size: 9pt;

    .application {
        max-width: 1200px;
        margin: auto;
        padding-bottom: $widepad * 5;
    }
}

.navbar-inverse {
    background-color: $darkheader;
    color: $whitetxt;
    border-bottom: 4px solid $darkblack;

    .navbar-brand {
        font-size: 1.1em;
    }

    .navbar-brand, .navbar-nav > li > a {
        color: $whitetxt;
    }

    @include breakpoint($laptop) {
        font-size: 1.2em;
    }
}

.chart-wrapper {
    border-color: $grayborder;

    .chart-title {
        border-bottom: 1px solid darken($grayborder, 8);
    }
}

.filter-btns .btn {
    margin: 0 1px;
}

.goal {
    padding: $widepad;
    background-color: $softcallout;
    border: 1px solid $grayborder;
    @include border-radius(8px);
}

.definition {
    padding: $widepad;
    font-size: 1.2em;
    font-weight: 300;
    background-color: $softhilite;
    border: 1px solid darken($softhilite, 12);
    @include border-radius(8px);
    color: $lightblack;
    margin-bottom: $widepad;

    strong {
        font-weight: 600;
    }

    h4 {
        font-size: 1.1em;
    }

    dl {
        margin-bottom: 10px;
    }
}

.chart-wrapper .dark-title {
    background-color: $darkheader;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 2px solid $lightblack;

    h4 {
        color: $whitetxt;
    }

    .panel-heading {
        background-color: $graybkgnd;
        border-color: darken($graybkgnd, 8);
    }
}

.plank {
    padding: $widepad;
    margin-bottom: 2px;
    color: $medblack;

    p.goal {
        font-size: 1.1em;

        @include breakpoint($tablet) {
            font-size: 1.4em;
        }
    }

    p.explanation {
        font-size: small;
    }

    h2 {
        font-size: 1.9em;

        @include breakpoint($tablet) {
            font-size: 2.2em;
        }
    }

    h2, h4 {
        color: $bright;
    }
}

.bg-danger {
    background-color: $danger;
}
