// $darkheader: #4c516d;
// $darkblack: #222;
// $medblack: #333;
// $lightblack: #444;
// $bright: #bb105f;
// $softcallout: #dddee7;
// $softhilite: #f1efd5;
// $whitetxt: #ececec;
// $graytxt: #666;
// $grayborder: #cecfdd;
// $graybkgnd: #edeef2;
// $danger: #ecd0d3;
// $widepad: 16px;
//
// $phone: max-width 768px;
// $tablet: 768px;
// $laptop: 992px;
// $lg-laptop: 1200px;
//
// @mixin border-radius($rad) {
//     -webkit-border-radius: $rad;
//     -moz-border-radius: $rad;
//     -ms-border-radius: $rad;
//     border-radius: $rad;
// }

@font-face {
  font-family: 'GT-Pressura-Bold';
  src: url('../webfonts/GT-Pressura-Bold.eot');
  src:  url('../webfonts/GT-Pressura-Bold.woff') format('woff'),
  url('../webfonts/GT-Pressura-Bold.ttf') format('truetype');
}

.row-no-gutter {
    margin-left: 0;
    margin-right: 0;

    [class*='col-'] {
        padding-left: 0;
        padding-right: 0;
    }
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    &.application {
        font-family: 'Karla', sans-serif;
        max-width: 1200px;
        margin: auto;
        padding-bottom: $widepad * 5;
    }
}

p {
    margin: 2rem 0;
}
p.explanation {
    padding: 10px;
    font-size: 14px;
}

h2, h4, h5 {
    font-family: 'GT-Pressura-Bold', Helvetica, sans-serif;
    text-transform: uppercase;
    color: $bright;
}
h2 {
    font-size: 3.5rem;
    text-transform: none;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 2rem;
}

.navbar-brand {
    font-family: 'GT-Pressura-Bold', Helvetica, sans-serif;
}
.key {
    margin: 1rem 0 2rem 0;
    h4 {
        color: $bright;
        display: inline-block;
    }
    ul {
        display: inline-block;
    }
}


.navbar-inverse {
    background-color: #000000;
    color: $whitetxt;
    border-bottom: 0;

    .navbar-brand {
        font-size: 1.1em;
    }

    .navbar-brand, .navbar-nav > li > a {
        color: $whitetxt;
    }

    @include breakpoint($laptop) {
        font-size: 1.2em;
    }
}

.chart-wrapper {
    border-color: $grayborder;
    margin-bottom: 2rem;
    .chart-title {
        border-bottom: 1px solid darken($grayborder, 8);
    }
}

.filter-btns .btn {
    margin: 0 1px;
}

.goal {
    padding: $widepad;
    background-color: $softcallout;
    border: 1px solid $grayborder;
    @include border-radius(8px);
}

.definition {
    padding: $widepad;
    background-color: #feecbb;
    color: $lightblack;
    margin-bottom: $widepad;
    font-size: 1.5rem;
    dl {
        margin-bottom: 10px;
    }
    dd {
        margin-bottom: 1rem;
    }
    h4 {
        margin-bottom: 1.5rem;
    }
}

.targets {
    background-color: #ffffff;
    dl {
        margin-bottom: 10px;
    }
    dd {
        margin-bottom: 1rem;
    }
}

.chart-wrapper .dark-title {
    background-color: $darkheader;
    h4 {
        color: $whitetxt;
    }

    .panel-heading {
        background-color: $graybkgnd;
        border-color: darken($graybkgnd, 8);
    }
}

.panel-group {
    margin-bottom: 0;
}
.panel-group .panel {
    border: 0;
    border-radius: 0;
}
.panel-group .panel + .panel {
    margin-top: 0;
    border: 0;
}
.panel-default > .panel-heading {
    border: 0;
}

.plank {
    margin-bottom: 2px;
    color: $medblack;
    max-width: 768px;
    p.goal {
        font-size: 1.1em;

        @include breakpoint($tablet) {
            font-size: 1.4em;
        }
    }

}

.bg-danger {
    background-color: #c8e4f2;
}

