// @import "../bower_components/breakpoint-sass/stylesheets/_breakpoint.scss";
//
//
// $workforce: #ab1461;
// $childhood: #953d9a;
// $health: #3a8b34;
// $housing: #2929b9;
// $cross: #666666;
//
// $negative: #a50026;
// $positive: #1a9850;
// $neutral: #fee08b;
//
// $gray6: #666;
// $hilite: #f3f382;
//
// @mixin gridcolors($base-color) {
//     $darker: lighten(mix($gray6, $base-color, 30%), 20);
//     background: mix(white, $base-color, 50%);
//     .name {
//         border-bottom: 2px solid $darker;
//     }
//     .descript {
//         border-bottom: 1px solid $darker;
//     }
// }
//
// @mixin transition($args...) {
//     -webkit-transition: $args;
//     -moz-transition: $args;
//     -ms-transition: $args;
//     transition: $args;
// }

.filter-btns .btn {
    @include border-radius(4px);
}

.positive {
    color: $positive;
}

.negative {
    color: $negative;
}

.neutral {
    color: $neutral;
}

.grid {
    margin: 12px auto;

    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.grid-sizer {
    // width: 280px;
}

.grid-item {
    float: left;
    min-height: 240px;
    padding: 10px 14px;
    border: 5px solid white;
    @include border-radius(8px);
    background: #888;
    color: #333;

    &:hover {
        border-color: $hilite;
    }

    & > * {
        margin: 0;
        padding: 0;
    }

    .name {
        font-size: 1.1em;
        font-weight: 700;
        padding: 0;
    }

    .expand-grid {
        color: #efefef;
        font-weight: 900;
    }

    .current-val {
        font-size: 2.8em;
        font-weight: 600;
        color: #fff;
        margin-top: 2px;
    }

    .current-year {
        font-size: 50%;
        color: #444;
    }

    .prev-val {
        font-size: 2.2em;
        font-weight: 600;
        color: #eaeaea;
        margin: 2px;
    }

    .prev-year {
        font-size: 60%;
        color: #444;
    }

    .descript {
        position: absolute;
        bottom: 30px;
        font-size: 1.25em;
        width: 90%;
        color: #333;
    }

    .area {
        position: absolute;
        color: #eee;
        bottom: 10px;
    }

    .trend {
        font-size: 3em;
        padding: 0;
        margin: 10px auto;
    }

    p.descript-text {
        visibility: hidden;
    }

    .icon {
        fill: currentColor;
        width: 1em;
        height: 1em;
        overflow: hidden;
    }
}

.big {

    height: 320px;

    p.descript-text {
        visibility: visible;
    }

    @include breakpoint($phone) {
        .current-val {
            font-size: 3.5em;
        }

        .prev-val {
            font-size: 2.6em;
        }

        .trend {
            font-size: 5em;
        }
    }

    @include breakpoint($tablet) {
        .current-val {
            font-size: 5em;
        }

        .prev-val {
            font-size: 3em;
        }

        .trend {
            font-size: 9em;
        }
    }

    @include breakpoint($laptop) {
        width: 66.67%;
    }

    @include breakpoint($lg-laptop) {
        width: 50%;
    }

    @include transition(font-size 400ms);
}



.workforce {
    @include gridcolors($workforce);
}

.childhood {
    @include gridcolors($childhood);
}

.health {
    @include gridcolors($health);
}

.housing {
    @include gridcolors($housing);
}

.cross {
    @include gridcolors($cross);
}
