// variables
// global
$darkheader: #4c516d;
$darkblack: #222;
$medblack: #333;
$lightblack: #444;
$bright: #bb105f;
$softcallout: #dddee7;
$softhilite: #f1efd5;
$whitetxt: #ececec;
$graytxt: #666;
$grayborder: #cecfdd;
$graybkgnd: #edeef2;
$danger: #ecd0d3;
$white: #ffffff;
$black: #000000;
$widepad: 16px;

$phone: max-width 768px;
$tablet: 768px;
$laptop: 992px;
$lg-laptop: 1200px;

// charts
$heights: 210 220 240 300 320 350 400 600;
$darkborder: #2c3569;
$goal: #e0e2ec;
$other: #dbdbdb;

// grid
$workforce: #ab1461;
$childhood: #953d9a;
$health: #3a8b34;
$housing: #2929b9;
$cross: #c56f59;

$negative: #a50026;
$positive: #1a9850;
$neutral: #fee08b;

$gray6: #666;
$hilite: #f3f382;


// mixins
@mixin border-radius($rad) {
    -webkit-border-radius: $rad;
    -moz-border-radius: $rad;
    -ms-border-radius: $rad;
    border-radius: $rad;
}

@mixin chartheight($height) {
    height: #{$height}px;
}

@mixin gridcolors($base-color) {
    $darker: lighten(mix($gray6, $base-color, 30%), 20);
    background: mix(white, $base-color, 50%);
    .name {
        border-bottom: 2px solid $darker;
    }
    .descript {
        border-bottom: 1px solid $darker;
    }
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    transition: $args;
}
